@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.main-section {
    background: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url("../images/main-image.jpg");
    /* background-position: center; */
    background-repeat: no-repeat;
    border-bottom: 0.6rem solid #222222;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 57px 0px 40px;
}

.logo img {
    width: 9rem;
}

.sign-in {
    background: #E50914;
    border: none;
    outline: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}

.lang-selector {
    padding: 9px 13px;
    background: transparent;
    border-color: white;
    color: white;
    margin-right: 2rem;
    outline: none;
}

.lang-selector option {
    background: rgb(129, 126, 126);
    font-size: 1.2em;
}


/* ------------- MAIN SECTION ----------- */

.main-container {
    height: 546.1px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-info {
    color: white;
    text-align: center;
}

.email-form {
    margin-top: 2rem;
    color: white;
    text-align: center;
}

.main-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 3.2em;
    overflow: hidden;
    line-height: 4rem;
}

.main-subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
}


/* ------------- EMAIL SECTION STYLING ------------------  */

.email-subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    padding-bottom: 20px;
}

.cta-area {
    height: 60px;
    width: 40rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email-input {
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    width: 428px;
    height: 58px;
    padding-left: 13px;
    font-size: 1em;
}

.email-btn {
    width: 212px;
    border: none;
    font-family: 'Poppins', sans-serif;
    outline: none;
    background: #DF0712;
    text-align: center;
    font-size: 1.5em;
    color: white;
    overflow: hidden;
    cursor: pointer;
    height: 58px;
}


/* -------- Features Section - 1 --------- */

.features-sections {
    background: black;
    height: 470px;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 0.6rem solid #222222;
}

.part1-info {
    width: 50%;
    padding-left: 7rem;
}

.part1-heading {
    font-size: 3.1em;
    font-weight: 600;
    padding-bottom: .5rem;
}

.part1-subtitle {
    font-size: 24px;
}

.part1-image {
    padding-right: 5rem;
    padding-top: 3rem;
}

.part1-image img {
    width: 100%;
}


/* ----- Features Section - 2 ------ */

.part2-info {
    width: 50%;
    padding-right: 6rem;
}

.part2-heading {
    font-size: 3.1em;
    font-weight: 600;
    padding-bottom: .5rem;
    line-height: 3.7rem;
}

.part2-subtitle {
    font-size: 24px;
}

.part2-image {
    padding-right: 5rem;
    padding-top: 3rem;
}

.part2-image img {
    width: 100%;
}


/* --- Features Section - 3 */

.part3 {
    background: black;
    height: 530px;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 0.6rem solid #222222;
}

.part3-info {
    width: 50%;
    padding-left: 7.2rem;
}

.part3-heading {
    font-size: 3.1em;
    font-weight: 600;
    padding-bottom: .5rem;
    line-height: 3.7rem;
}

.part3-subtitle {
    font-size: 24px;
}

.part3-image {
    padding: 0px 5rem 0px 0px;
}

.part3-image img {
    width: 100%;
}


/* ------- Features Section - 4 ------- */

.part4 {
    background: black;
    height: 530px;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 0.6rem solid #222222;
}

.part4-info {
    width: 50%;
    padding-right: 7.2rem;
}

.part4-heading {
    font-size: 3.1em;
    font-weight: 600;
    padding-bottom: .5rem;
    line-height: 3.7rem;
}

.part4-subtitle {
    font-size: 24px;
}

.part4-image {
    padding: 0px 0px 0px 5rem;
}

.part4-image img {
    width: 100%;
}